{% extends 'list.html' %}

{% block columns %}

<tr>
    <th scope="col">Nro</th>
    <th scope="col">Nombre</th>
    <th scope="col">Opciones</th>
</tr>

{% endblock %}


{% block rows %}

{% for c in object_list %}
<tr>
    <td>{{c.id}}</td>
    <td>{{c.name}}</td>
    <td>
        <a href="{% url 'category_update' c.id %}" class="btn btn-warning btn-xs"><i class="fas fa-edit"></i></a>
        <a href="{% url 'category_delete' c.id %}" type="button" class="btn btn-danger btn-xs"><i class="fas fa-trash-alt"></i></a>
    </td>
</tr> 
{% endfor %}



<script type="application/javascript">
    $(function () {
        $('.btnTest').on('click', function () {
            $.ajax({
                url: "/Miapp/category/list/",
                type: "POST",
                data: {id: 3},
                dataType: "json"   
            }).done(function(data){
                console.log(data);
            }).fail(function(jqXHR, textStatus, errorThrown){
                alert(textStatus+ ': ' +errorThrown);
            }).always(function(data){
                
        });
    })
});


</script>

{% endblock %}


