{% extends 'body.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<form method="POST" action=".">
    <div class="card card-default">
        <div class="carg-header">
            <h3 class="card-title">
                <i class="fas fa-plus"></i>
                {{title}}
            </h3>
        </div>
    
        <div class="card-body">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{ action }}">

            {% for field in form.visible_fields %}
                <div class="form-group">
                    <label for="">{{ field.label }}:</label>
                    {{ field|add_class:'form-control' }}
                </div>
            {% endfor %}
        </div>
    
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-flat">
            <i class="fas fa-save"></i>Guardar registro
            </button>
        </div>
    </div>
</form>


<!------------Sweet Alert--------------------------------->

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if form.errors %}
<script> var errors = "" 
</script>

    {% for field in form %}
        {% for error in field.errors %}
        <script>errors = '{{ error }}';</script>
        {% endfor %}
    {% endfor %}
        
<script>
        Swal.fire({
                titleText: 'Error al guardar',
                text: errors,
                icon: 'error',
                confirmButtonText: 'OK',
            });
            </script>

{% endif %}


<script>
    $('form').on('submit', function (e) {
        e.preventDefault();
        var parameters = $(this).serializeArray();
        $.ajax({
            url: '/Miapp/category/add/',
                type: 'POST',
                data: parameters,
                dataType: "json"   
            }).done(function(data){
                if (!data.hasOwnProperty('error')){
                    Location.href = '{{ list_url }}';
                    return false;
                }
                message_error(data.error);
            }).fail(function(jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function(data){ 
        });
    });
</script>

{% endblock %}